<a href="https://colab.research.google.com/github/Suwannaket1/python_dataviz2024/blob/main/Function_Loop_Condition_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 - Note

In [ ]:
inp = '12:30:15 - 13:41:07'
inp_list = inp.split(' - ')
inp_list

['12:30:15', '13:41:07']

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### definition คือการกำหนดฟังก์ชัน


backtick (`) ==> กด ~ ค้าง, alt - 9>6 (full keyboard with number)

tilde (~)

curly bracket ({ })

square bracket ([ ])

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_

-----------------------------------------------------------------
การเยื้องหน้า คือ indent
return คือ ส่งค่าออกไป
```

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (*ขาดไม่ได้*)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (*ขาดไม่ได้*)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน Normal function

In [ ]:
def print_myname(): #ตัวอย่าง fuction ที่ไม่มีทั้ง input และ output
    print('Suwannaket')

In [ ]:
print_myname()

Suwannaket

In [ ]:
def print_name(surname,ID,name): #ตัวอย่าง fuction ที่มีทั้ง input หลายตัว และ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_name('สุมาลี','ุ653020578-2','สุวรรณเกตุ')

'ชื่อ สุวรรณเกตุ นามสกุล สุมาลี รหัส ุ653020578-2'

In [ ]:
print_name(name='สุวรรณเกตุ',surname='สุมาลี',ID='653020578-2')

'ชื่อ สุวรรณเกตุ นามสกุล สุมาลี รหัส 653020578-2'

###ข้อแตกต่างระหว่าง function ที่มีและไม่มี output###

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1 = print_name(name='สุวรรณเกตุ',surname='สุมาลี',ID='653020578-2')
print(out_printname1)

ชื่อ สุวรรณเกตุ นามสกุล สุมาลี รหัส 653020578-2

In [ ]:
out_printname2 = print_name2(name='สุวรรณเกตุ',surname='สุมาลี',ID='653020578-2')
print(out_printname2)

ชื่อ สุวรรณเกตุ นามสกุล สุมาลี รหัส 653020578-2
None

In [ ]:
out_printname2 #ถ้า print ออกมาแล้วเป็น None แสดงว่าลืม Return

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'): #เกรดถ้าไม่กรอกจะให้ default เป็น F --> แสดงว่า input ที่ต้องการมีทั้งหมด 3 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8') #ไม่กรอกเกรด

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8', grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย') #ถ้าใส่ input ไม่ครบมันก็จะ error

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz2
เขียน function ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหาช่วงเวลาเป็นวินาที ที่ห่างกันระหว่าง time1 และ time2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้

In [ ]:
def time_diff(time):
  time_list = time.split('-')

  time1 = time_list[0]
  time2 = time_list[1]

  time1_list = time1.split(':')
  time2_list = time2.split(':')

  time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
  time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])

  diff = time2_sec - time1_sec
  return diff

In [ ]:
time_diff('12:30:15-13:41:07')

4252

In [ ]:
#เฉลย
def cal_dif_secs(timeinput):
    time_list = timeinput.split('-')
    time1 = time_list[0].split(':')
    time2 = time_list[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif_secs('12:30:15-13:41:07')

4252

# Quiz 3.5
รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

In [ ]:
def time_diff2(time2, time1='00:00:00'):
  time1_list = time1.split(':')
  time2_list = time2.split(':')

  time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
  time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])

  diff = time2_sec - time1_sec
  return diff

In [ ]:
time_diff2('13:41:07')

49267

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA : #วนลูปสมาชิกใน list
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print(' ',name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
  2  x  1  =  2
  2  x  2  =  4
  2  x  3  =  6
  2  x  4  =  8
  2  x  5  =  10
  2  x  6  =  12
  2  x  7  =  14
  2  x  8  =  16
  2  x  9  =  18
  2  x  10  =  20
  2  x  11  =  22
  2  x  12  =  24
the inner loop is end
now name1 = 3
  3  x  1  =  3
  3  x  2  =  6
  3  x  3  =  9
  3  x  4  =  12
  3  x  5  =  15
  3  x  6  =  18
  3  x  7  =  21
  3  x  8  =  24
  3  x  9  =  27
  3  x  10  =  30
  3  x  11  =  33
  3  x  12  =  36
the inner loop is end
now name1 = 4
  4  x  1  =  4
  4  x  2  =  8
  4  x  3  =  12
  4  x  4  =  16
  4  x  5  =  20
  4  x  6  =  24
  4  x  7  =  28
  4  x  8  =  32
  4  x  9  =  36
  4  x  10  =  40
  4  x  11  =  44
  4  x  12  =  48
the inner loop is end

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

#HW2
วนลูป หาค่าหาช่วงเวลาเป็นวินาที ที่ห่างกันระหว่าง time1 และ time2 ต่อไปนี้
1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

In [ ]:
def time_diff(time):
  time_list = time.split('-')

  time1 = time_list[0]
  time2 = time_list[1]

  time1_list = time1.split(':')
  time2_list = time2.split(':')

  time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
  time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])

  diff = time2_sec - time1_sec
  return diff

In [ ]:
time_list = [
  "18:09:10 - 18:25:10",
  "13:38:39 - 23:54:39",
  "16:49:58 - 18:05:58",
  "21:49:10 - 22:24:10",
  "08:52:21 - 09:25:21",
  "06:56:26 - 07:49:26",
  "12:08:05 - 12:43:05",
  "01:48:38 - 07:18:38",
  "08:51:21 - 10:17:21",
  "17:05:17 - 18:09:17"
]

In [ ]:
for i, time in enumerate(time_list):
  diff = time_diff(time)
  print(f'ช่วงเวลา {time} ห่างกัน {diff} วินาที')

ช่วงเวลา 18:09:10 - 18:25:10 ห่างกัน 960 วินาที
ช่วงเวลา 13:38:39 - 23:54:39 ห่างกัน 36960 วินาที
ช่วงเวลา 16:49:58 - 18:05:58 ห่างกัน 4560 วินาที
ช่วงเวลา 21:49:10 - 22:24:10 ห่างกัน 2100 วินาที
ช่วงเวลา 08:52:21 - 09:25:21 ห่างกัน 1980 วินาที
ช่วงเวลา 06:56:26 - 07:49:26 ห่างกัน 3180 วินาที
ช่วงเวลา 12:08:05 - 12:43:05 ห่างกัน 2100 วินาที
ช่วงเวลา 01:48:38 - 07:18:38 ห่างกัน 19800 วินาที
ช่วงเวลา 08:51:21 - 10:17:21 ห่างกัน 5160 วินาที
ช่วงเวลา 17:05:17 - 18:09:17 ห่างกัน 3840 วินาที

##Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยอ้างอิงโดย text
วงเล็บ ```{}``` Curly Brackets

In [1]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'} #จัดเก็ย list ตัวเลข หรือ text ได้หมดเลย

In [2]:
Ex_dict_A #สังเกตวงเล็บ ว่าเป็น [] หรือ {}

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [8]:
#การเรียกใช้ค่า Dictionary
Ex_dict_A['memberA']

[1, 2, 3]

In [9]:
Ex_dict_A['memberA'][1] #ถ้าต้องการชี้ตัวข้างในอีกที พิมพ์ต่อได้เลย

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [10]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [11]:
name_grade['ปนัดดา']

'A'

In [15]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [16]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

#ต้องลูปตรง key เพื่อให้ได้ values ออกมา !!จะไปลูปที่ values ไม่ได้

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

#HW2 Example

In [23]:
time_list =  [
    ("18:09:10", "18:25:10"),
    ("13:38:39", "23:54:39"),
    ("16:49:58", "18:05:58"),
    ("21:49:10", "22:24:10"),
    ("08:52:21", "09:25:21"),
    ("06:56:26", "07:49:26"),
    ("12:08:05", "12:43:05"),
    ("01:48:38", "07:18:38"),
    ("08:51:21", "10:17:21"),
    ("17:05:17", "18:09:17")]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [24]:
Time1 = "18:09:10"
Time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 17:05:17 - 18:09:17 is 3840 seconds

### conditional statement คือ เงื่อนไข /ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อง Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False
#True=1, False=0

##### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

In [25]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [26]:
time_list =  [
    ("18:09:10", "18:25:10"),
    ("13:38:39", "23:54:39"),
    ("16:49:58", "18:05:58"),
    ("21:49:10", "22:24:10"),
    ("08:52:21", "09:25:21"),
    ("06:56:26", "07:49:26"),
    ("12:08:05", "12:43:05"),
    ("01:48:38", "07:18:38"),
    ("08:51:21", "10:17:21"),
    ("17:05:17", "18:09:17"),
    ("18:51:21", "00:17:21"),
    ("17:05:17", "11:09:17")
    ]

In [32]:
for time1,time2 in time_list:

  if time_to_second(time1) < time_to_second(time2): #ถ้า time1 < time2
    diff_seconds = time_to_second(time2) - time_to_second(time1)
  else: #ถ้า ttime1 > time2
    diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

#HW3 เพิ่ม ฟังก์ชันแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใชเฟังก์ชันช่วยเหลืออื่น ๆ ของ Python (import) ถ้าส่วนของชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

## ==, !=, >=, <=, >, < : Operator ของตัวเลข

## ```&```, ```|```, ```in``` (เป็นสมาชิกของ list นี้?), ```is```(เป็นตัวแปรที่ระบุ?): Operator อื่นๆ

In [35]:
if True & True:
  print(True & True)

True

In [39]:
if (1>0) & (0>-1):
  print(True & True)

True

In [40]:
if 'T' in 'Thanapong':
  print('T in Thanapong')

T in Thanapong

In [45]:
def return_nothing(x):
  x = x+1

In [47]:
if return_nothing(5) is None:
  print('x is null')

#ส่วนใหญ่จะเกิดกับฟังก์ชันที่ไม่มี return

x is null

#HW4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

# Finish